.sidebar {
    flex: 1;
    height: 100vh;
    background-color: #fff;
    position: sticky;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.16);
    top: 0;
    padding: 15px;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    width: 200px;
    height: 50px;
    object-fit: cover;
}

.filter-info-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}
.filter-info-container span {
    margin: 5px 0;
}

.filter-counter {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #808080;
}

.price-range-filter {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.clear-all {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #21A696;
    cursor: pointer;
}