@font-face {
  font-family: SfPro;
  src: url(./assets/font/SFPro.woff);
}
@font-face {
  font-family: Ubuntu;
  src: url(./assets/font/Ubuntu.woff);
}

*{
  font-family: SfPro;
}
body{
  margin: 0;

}